/*** extra small or all screens ***/
.box {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: span 1;
  grid-column-end: span 1;
}

@for $a from 1 through 24 {
  @for $b from 1 through 24 {
    .box-#{$a}-#{$b} {
      grid-column-start: #{$a};
      grid-row-start: #{$b};
    }
  }
}

/*** small or all screens ***/
@media only screen and (min-width: 576px) {
  .box-sm {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 1;
    grid-column-end: span 1;
  }

  @for $a from 1 through 24 {
    @for $b from 1 through 24 {
      .box-#{$a}-#{$b}-sm {
        grid-column-start: #{$a};
        grid-row-start: #{$b};
      }
    }
  }
}

/*** medium or all screens ***/
@media only screen and (min-width: 720px) {
  .box-md {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 1;
    grid-column-end: span 1;
  }

  @for $a from 1 through 24 {
    @for $b from 1 through 24 {
      .box-#{$a}-#{$b}-md {
        grid-column-start: #{$a};
        grid-row-start: #{$b};
      }
    }
  }
}

/*** large or all screens ***/
@media only screen and (min-width: 720px) {
  .box-lg {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 1;
    grid-column-end: span 1;
  }

  @for $a from 1 through 24 {
    @for $b from 1 through 24 {
      .box-#{$a}-#{$b}-lg {
        grid-column-start: #{$a};
        grid-row-start: #{$b};
      }
    }
  }
}

/*** extra large or all screens ***/
@media only screen and (min-width: 720px) {
  .box-xl {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 1;
    grid-column-end: span 1;
  }

  @for $a from 1 through 24 {
    @for $b from 1 through 24 {
      .box-#{$a}-#{$b}-xl {
        grid-column-start: #{$a};
        grid-row-start: #{$b};
      }
    }
  }
}
