/*** extra small or all screens ***/
/*** Height modifier classes ***/
@for $a from 2 through 12 {
  .tall-#{$a} {
    grid-row-end: span#{$a};
  }
}

/*** Width modifier classes ***/
@for $a from 2 through 12 {
  .wide-#{$a} {
    grid-column-end: span#{$a};
  }
}

/*** small screens ***/
@media only screen and (min-width: 576px) {
  /*** Height modifier classes ***/
    @for $a from 2 through 12 {
    .tall-#{$a}-sm {
      grid-row-end: span#{$a};
    }
  }

  /*** Width modifier classes ***/
  @for $a from 2 through 12 {
    .wide-#{$a}-sm {
      grid-column-end: span#{$a};
    }
  }
}

/*** medium screens ***/
@media only screen and (min-width: 720px) {
  /*** Height modifier classes ***/
    @for $a from 2 through 12 {
    .tall-#{$a}-md {
      grid-row-end: span#{$a};
    }
  }

  /*** Width modifier classes ***/
  @for $a from 2 through 12 {
    .wide-#{$a}-md {
      grid-column-end: span#{$a};
    }
  }
}

/*** large screens ***/
@media only screen and (min-width: 960px) {
  /*** Height modifier classes ***/
    @for $a from 2 through 12 {
    .tall-#{$a}-lg {
      grid-row-end: span#{$a};
    }
  }

  /*** Width modifier classes ***/
  @for $a from 2 through 12 {
    .wide-#{$a}-lg {
      grid-column-end: span#{$a};
    }
  }
}

/*** extra large screens ***/
@media only screen and (min-width: 1140px) {
  /*** Height modifier classes ***/
    @for $a from 2 through 12 {
    .tall-#{$a}-xl {
      grid-row-end: span#{$a};
    }
  }

  /*** Width modifier classes ***/
  @for $a from 2 through 12 {
    .wide-#{$a}-xl {
      grid-column-end: span#{$a};
    }
  }
}
